<div class="lesson-header">
  <div class="lesson-info">
    <img src="https://i.pinimg.com/736x/d0/bd/75/d0bd75d696c24253593c0381967e443d.jpg" alt="Profile Picture" class="profile-picture">
    <div>
      <div class="lesson-title">
        Lesson 12 <span class="lesson-arrow">↗</span>
      </div>
      <div class="vfr-dual">VFR dual: 2:00</div>
    </div>
  </div>
</div>

<div class="pre-lesson-notice">
  <strong>Read the lesson preparation before the lesson begins</strong>
</div>

<div class="section">
  <div class="section-title">Lesson Preparation</div>
  <div class="section-content">
    <ul class="prep-links">
      <div data-controller="pdfmodal">
        <li><a href="#" class="prep-link" data-turbo="false" data-action="click->pdfmodal#open" data-filename="preflight">Preflight</a></li>
        <li><a href="#" class="prep-link" data-action="click->pdfmodal#open" data-filename="was-sheet">Prepare WAS sheet</a></li>
        <li><a href="#" class="prep-link" data-action="click->pdfmodal#open" data-filename="performance-calc">Performance calculations</a></li>
        <li><a href="#" class="prep-link" data-action="click->pdfmodal#open" data-filename="poh">Pilot Operating Handbook</a></li>
        <li><a href="#" class="prep-link" data-action="click->pdfmodal#open" data-filename="c172-checklist">C172 Checklist</a></li>

        <div id="pdf-modal"
             data-pdfmodal-target="modal">
          <div id="pdf-modal-content">
            <button data-action="click->pdfmodal#close">Close</button>
            <iframe data-pdfmodal-target="viewer"
                    src=""
                    width="100%"
                    height="500px">
            </iframe>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-title">Objectives</div>
  <div class="section-content">
    <ul class="objectives-list">
      <li>Pre-flight</li>
      <li>Start checklist</li>
      <li>Engine start</li>
      <li>Taxiing</li>
      <li>Solo prep</li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-title">Video briefings</div>
  <div class="section-content">
    <a href="#" class="prep-link">Weather briefing</a>
  </div>
</div>

<div class="section">
  <div class="section-title">Grading explanation</div>
  <div class="section-content">
    <div class="grading-levels">
      <div class="grading-level level-1">
        <div class="level-title">Level 1: Unsatisfactory</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget lobortis sapien. Donec augue nibh, pellentesque quis viverra sed, interdum quis purus. Phasellus non turpis in orci feugiat dignissim a vel risus. Mauris volutpat justo et nulla mattis tristique. Pellentesque ut sagittis ipsum, imperdiet tempus diam.
      </div>
      <div class="grading-level level-2">
        <div class="level-title">Level 2: Satisfactory</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget lobortis sapien. Donec augue nibh, pellentesque quis viverra sed, interdum quis purus. Phasellus non turpis in orci feugiat dignissim a vel risus. Mauris volutpat tempus diam.
      </div>
      <div class="grading-level level-3">
        <div class="level-title">Level 3: Good</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget lobortis sapien. Donec augue nibh, pellentesque quis viverra sed, interdum quis purus. Phasellus non turpis in orci feugiat dignissim a vel risus. Mauris volutpat justo et nulla mattis tristique. Pellentesque ut sagittis.
      </div>
      <div class="grading-level level-4">
        <div class="level-title">Level 4: Very Good</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget lobortis sapien. Donec augue nibh, pellentesque quis viverra sed, interdum quis purus. Phasellus non turpis in orci feugiat dignissim a vel risus. Mauris nulla mattis tristique. Pellentesque ut sagittis ipsum, imperdiet tempus diam.
      </div>
      <div class="grading-level level-5">
        <div class="level-title">Level 5: Excellent</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget lobortis sapien. Donec augue nibh, pellentesque quis viverra sed, interdum quis purus. Phasellus non turpis in orci feugiat dignissim a vel risus. Mauris volutpat justo et nulla mattis tristique. Pellentesque ut sagittis ipsum, imperdiet tempus diam.
      </div>
    </div>
  </div>
</div>

<div class="attachments">
  <div class="attachments-header" onclick="toggleAttachments()">
    ▼ Attachments
  </div>
  <div class="attachments-content" id="attachments-content">
    <div class="attachment-row">
      <a href="#" class="attachment-name" onclick="openPDF('lesson11-card')">📄 Lesson 11 - Lesson Card</a>
      <span class="attachment-modified">Modified: 2024-03-15</span>
    </div>
    <div class="attachment-row">
      <a href="#" class="attachment-name" onclick="openPDF('was-worksheet')">📄 WAS Worksheet</a>
      <span class="attachment-modified">Modified: 2024-03-10</span>
    </div>
    <div class="attachment-row">
      <a href="#" class="attachment-name" onclick="openPDF('performance-charts')">📄 Performance Charts</a>
      <span class="attachment-modified">Modified: 2024-03-08</span>
    </div>
  </div>
</div> 